
<app-layout></app-layout>
<!-- <b>Simple Application</b> &nbsp;&nbsp;
<a routerLink='/home'>Home</a> &nbsp;
<a routerLink='/registratin'>Sign Up</a> &nbsp;
<a *ngIf="!isValidSession" routerLink='/login'>Login</a> &nbsp;
<a routerLink='/usersList'>Users List</a> &nbsp;
<a *ngIf="isValidSession" routerLink='/logout'>Logout</a> &nbsp;

<router-outlet></router-outlet> -->

<!-- <form [formGroup]="formGroup" (ngSubmit)="register(formGroup.value)">
  <div>
   <label>Code </label>
      <input type="text" [formControl]="formGroup.controls['eCode']">
  </div>

  <div>
      <label>Name </label>
      <input type="text" [formControl]="formGroup.controls['eName']">
  </div>

  <div>
     <label>Age </label>
      <input type="text" [formControl]="formGroup.controls['eAge']">
 </div>

 <div>

      <input type="submit" value="Register">
 </div>
</form> -->
